body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Mainfont";
  overflow: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Mainfont";
  src: local("Homade"), url("./fonts/Homade.otf") format("truetype");
}

.logo {
  width: 11vw;
  display: flex;
  flex-shrink: 0;
}

.sidebar {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  text-align: center;
  transition: transform 0.5s;
  transform: translate(0%);
}

.hideSidebar {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  width: 100vw;
  height: 100vh;
  top: 0%;
  z-index: 1;
  display: block;
  text-align: center;
  transition: transform 0.5s;
  transform: translate(100%);
}

.sidebarUl {
  list-style-type: none;
  margin-top: 6em;
}

.sidebarUl a {
  text-decoration: none;
}

.sidebarLi {
  margin-top: 1em;
  color: white;
}

.sidebarComponentPos {
  display: flex;
  justify-content: center;
  margin-right: 5em;
  gap: 1em;
  padding: 1em;
  margin-left: 8em;
}

.sidebarComponentPos a {
  color: white;
} 

.socialBar {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-bottom: 1em;
}

.socialBar a {
  color: black;
  margin-right: 0.5em;
}

.coverContainer {
  margin: auto;
  display: grid;
  background-image: url("/public/cover.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 50vw;
  border-radius: 15px;
}

.coverInfo {
  color: white;
  display: inline-block;
  font-size: 1.8vw;
  text-align: center;
  margin-top: 0.8em;
}

.musicContainer {
  width: 58.5vw;
  margin: 0 auto;
  text-align: center;
  padding: 1em;
  font-size: 1em;
}

.player {
  width: 50vw;
  height: 200px;
  border-radius: 5px;
}

.musicBoxes {
  padding: 0;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 2em;
}

.musicBox {
  text-align: center;
  list-style-type: none;
  border: 2px solid black;
  padding: 2em;
  border-radius: 5px;
  font-weight: bold;
}

.musicBox a {
  color: black;
  text-decoration: none;
}

.footer {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  padding: 3.5em;
  margin: 0;
  font-size: larger;
}

.container {
  margin-top: 3em;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

@media screen and (max-width: 1200px) {
  .socialBar {
    display: none;
  }

  .newsContainer {
    font-size: 2em;
  }
}

@media screen and (max-width: 600px) {

  .musicBoxes{
    grid-template-columns: auto;
  }

  .footer {
    font-size: small;
    grid-template-columns: auto;
    text-align: center;
  }

  .newsContainer {
    font-size: 1em;
  }

  .musicContainer {
    font-size: 0.8em;
  }

  .player {
    width: 60vw;
  }

  .coverContainer {
    height: 60vw;
  }
  
  .coverInfo {
    margin-top: 1.1em;
  }

}


