body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Mainfont";
  overflow: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Mainfont";
  src: local("Homade"), url("./fonts/Homade.otf") format("truetype");
}

.logo {
  width: 120px;
}
.container {
  width: 100%;
  max-width: 75rem;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.sidebar {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  text-align: center;
  transition: transform 0.3s;
  transform: translate(0%);
}

.hideSidebar {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  height: 100%;
  top: 0%;
  z-index: 1;
  text-align: center;
  transition: transform 0.5s;
  transform: translate(-300%);
}

.sidebarUl {
  list-style-type: none;
  margin-top: 6em;
}

.sidebarUl a {
  text-decoration: none;
}

.sidebarLi {
  margin-top: 1em;
  color: white;
}

.sidebarComponentPos {
  display: flex;
  justify-content: center;
  margin-right: 5em;
  gap: 1em;
  padding: 1em;
  margin-left: 8em;
}

.sidebarComponentPos a {
  color: white;
}

.sidebarComponentPos a:hover {
  color: rgb(35, 67, 56);
}

.socialBar {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.socialBar a {
  color: black;
  margin-right: 0.5em;
  width: fit-content;
}

.socialBar a:hover {
  color: rgb(35, 67, 56);
}

.coverContainer {
  margin: auto;
  margin-top: 7em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2em;
  gap: 2em;
  flex-shrink: 0;
}

.coverImg {
  border: 5px solid;
  border-radius: 5px;
  position: relative;
  width: 100%;
}

.coverSentence {
  color: white;
  position: absolute;
  z-index: 1;
  font-size: 1.2rem;
  margin-left: 11.5em;
  margin-top: 1em;
  text-align: center;
}

.coverInfo {
  align-self: center;
  text-align: center;
  font-size: 4.7em;
}

.musicContainer {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

iframe {
  width: 70%;
  height: 400px;
  align-self: center;
}

.musicLinks {
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

.musicLinks a {
  border: 5px solid black;
  padding: 2em;
  border-radius: 10px;
  font-weight: bold;
}

.musicBox:hover {
  border: 5px solid rgb(35, 67, 56);
}

.musicBox span {
  color: black;
}

a {
  text-decoration: none;
}

.footer {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  padding: 3.5em;
  margin: 0;
  font-size: larger;
}

.pagesContainer {
  margin-top: 3em;
  display: grid;
  justify-content: center;
  font-size: 3em;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .socialBar {
    display: none;
  }

  .coverContainer {
    margin-top: 4em;
  }

  .coverSentence {
    font-size: 1.55vw;
  }

  .coverInfo {
    font-size: 7vw;
  }
}

@media screen and (max-width: 600px) {
  .coverContainer {
    padding: 1em;
    grid-template-columns: 1fr;
  }

  .footer {
    font-size: small;
    grid-template-columns: auto;
    text-align: center;
  }

  .newsContainer {
    font-size: 1em;
  }

  .logo {
    width: 80px;
  }

  .pagesContainer {
    font-size: 2em;
  }

  .coverSentence {
    font-size: 1.5vw;
    margin-top: 1.5em;
  }
}
